<div class="main-banner">
  <img
    src="https://www.readyassist.in/assets/images/home/RAtruck-min.png"
    alt=""
  />
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      inventore molestiae sunt rem maiores. Non, est. Asperiores quod officia
      obcaecati. Quae deleniti minima laudantium totam natus sed molestias
      corrupti architecto?
    </p>
    <button type="button" class="btn btn-dark btn-fancy mt-4">
      Subscribe Now
    </button>
  </div>
</div>
