<app-nav-bar> </app-nav-bar>

<div class="main-banner">
  <img
    src="https://www.readyassist.in/assets/images/home/RAtruck-min.png"
    alt=""
  />
  <div>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      inventore molestiae sunt rem maiores. Non, est. Asperiores quod officia
      obcaecati. Quae deleniti minima laudantium totam natus sed molestias
      corrupti architecto?
    </span>
    <button type="button" class="btn btn-dark btn-fancy mt-4">
      Subscribe Now
    </button>
  </div>
</div>

<!-- Main-banner-end -->
<app-testimonials [data]="data"></app-testimonials>

<!-- testimony ends -->
<app-prices [priceData]="priceData"></app-prices>
<!-- card ends -->

<!--  -->
<app-reviews></app-reviews>
<!-- review ended -->

<footer class="d-flex align-items-center flex-column bg-brand py-4 fw-bold">
  <p>Lorem ipsum dolor sit amet.</p>
  <p>&copy; ReadyAssist 2022</p>
</footer>
