<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
<nav class="navbar navbar-light bg-brand sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="https://www.readyassist.in/assets/logo_christmas.png"
        alt=""
        width="130"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>
    <div class="d-flex gap-1">
      <button type="button" class="btn btn-outline-dark btn-w">Home</button>
      <button type="button" class="btn btn-outline-dark btn-w">About us</button>
      <button type="button" class="btn btn-outline-dark btn-w">Services</button>

      <button type="button" class="btn btn-dark btn-fancy">Download</button>
    </div>
  </div>
</nav>
