<div class="reviews">
  <div class="review m-5" *ngFor="let x of data">
    <img [src]="x.image" alt="" class="review-img" />

    <div class="review-content p-4 d-flex flex-column">
      <p>
        {{ x.text }}
      </p>
      <div class="align-self-end">
        <svg
          *ngFor="let a of [1, 2, 3, 4, 5]"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            fill="#FFC95E"
            fill-rule="evenodd"
            points="12 16.667 5 22 8 14 2 9.5 9.5 9.5 12 2 14.5 9.5 22 9.5 16 14 19 22"
          />
        </svg>
      </div>
      <p class="fw-bold text-end">{{ x.name }}</p>
    </div>
  </div>
</div>
