<div class="reviews">
  <div class="review m-5" *ngFor="let x of [1, 2, 3, 4]">
    <img
      src="https://randomuser.me/api/portraits/men/10.jpg"
      alt=""
      class="review-img"
    />

    <div class="review-content p-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, magnam
        amet! Consequuntur pariatur obcaecati repellendus ut laboriosam, aperiam
        saepe mollitia! Dolor aspernatur eos dicta sint. Libero odio facere enim
        veritatis?
      </p>
      <p class="fw-bold text-end">John Doe</p>
    </div>
  </div>
</div>
